.footer{
    height: 45px;
    padding: 5px 55px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.footer-container-inactive{
    background-color: transparent;
    transform: translateY(80px);
    transition: 0.5s;
}

.footer-container-active{
    background-color:rgba(64,64,64, 0.8);
    transform: translateY(0px);
    transition: 0.5s;
}
.footer a {
    color: white;
}
.footer a i {
    padding: 3px;
    margin-left: 15px;
    border-radius: 50%;
    transition: 0.5s;
}

.footer a i:hover {
    color: gray;
    background-color: white;
    border-radius: 50%;
}

.btn-information{
    position: absolute;
    right: 20px;
    bottom : 18px;
    transition: 0.7s;
}

.btn-information:hover{
    color: grey;
    transform: scale(1.2);
}