<div class="page">
    <div class="content">
        <div class="card_container">
            <img src="./assets/images/brain-icon.png">
            <div class="middle">
                <a class="text" [routerLink]="['/About/Core']">Core</a>
              </div>
        </div>
        <div class="card_container">
            <img src="./assets/images/human-heart.png">
            <div class="middle">
                <a class="text" [routerLink]="['/About/Love']">Love</a>
              </div>
        </div>
        <div class="card_container">
            <img src="./assets/images/hand.png">
            <div class="middle">
                <a class="text" [routerLink]="['/About/Work']">Work</a>
              </div>
        </div>
    </div>
</div>