<div class="page"[ngStyle]="{'background-color': this.backgroundColor }">
    <section class="work-and-play-details-content" >
        <div class="navBar leftBar">
            <div class="navBarIcone">
                <i class="far fa-arrow-alt-circle-left" appChangeArrowClass ></i>
            </div>
            <p>{{workDetailIndex}} / {{workLength}}</p>
        </div>
        
        <div class="card-content">

            <div class="carousel">
                <div class="card-image">
                    <img src="{{this.workDetail.images[0].src}}" alt="{{this.workDetail.images[0].alt}}">
                </div>
            </div>
    
            <div class="card">
                <div class="card-content" id="{{this.workDetail.id}}">
                    
                    <div class="card-header">
                        <h3 class="header-text">{{this.workDetail.name}}</h3>
                    </div>
                    <div class="card-description">
                        <p class="description-text">{{this.workDetail.descriptionMini}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="navBar rightBar">
            <div class="navBarIcone">
                    <i class="far fa-arrow-alt-circle-right" appChangeArrowClass ></i>
            </div>
            <p>{{workDetailIndex}} / {{workLength}}</p>
        </div>
        
        
    </section>
</div>