.sideNavContainer {
    background-color: transparent;
    color: white;
    //font-family: AmaticBold, Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    width: 13%;
    z-index: 2;
}

@media(max-width: 959px){
    .sideNavContainer{
        display: none;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo-img {
    outline: none;
}


/************************* NAVBAR *******************/

.navbar-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
    border-right: 1px ridge white;
}

.container-element {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    outline: none;
}

.container-element:hover {
    cursor: pointer;
}

.container-element .css-text-animation:hover{
    cursor: pointer;
}

.container-element:active {
    background-size: 150px 4px;
    background-repeat: repeat-x;
    background-position: center 19px;
}

.activeLink>.css-icon-animation>i {
    color: grey;
}

.activeLink>div>.container-text {
    background-size: 150px 4px;
    background-repeat: repeat-x;
    background-position: center 19px;
}

.container-element .css-text-animation {
    display: block;
    position: relative;
    height: 30px;
}
.container-element .css-text-animation p {
    font-size: 1.2rem;
    font-style: bold;
}


.css-icon-animation {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 30px;
    width: 20%;
    padding: 5px;
}

.css-icon-animation i {
    margin-bottom: 15px;
}

.css-icon-animation .hidden-icon {
    color: grey;
}

.container-element:hover .css-text-animation .container-text {
    transition-duration: 0.5s;
    color: gray;
}

.container-element:hover .css-icon-animation i {
    transition-duration: 0.5s;
    color: gray;
}

.container-text {
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.container-hidden-text {
    text-align: center;
    color: gray;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.btn-cv {
    position: absolute;
    bottom: 70px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cv:hover {
    color: gray;
    border: 1px solid gray;
    background-color: white;
}
@media(min-width: 200px) and (max-width:1370px){
    .css-icon-animation{
        display: none;
    }
    .activeLink>div>.container-text {
        color: gray;
    }
}

@media(min-width: 200px) and (max-width:1570px){
    .container-element .css-text-animation p{
        font-size : 0.9rem;
        font-style: bold;
    }
}

/************************* Hamburger *******************/
  #nav-burger {
    display: none;
    width: 60px;
    height: 45px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 9999;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-burger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-burger span:nth-child(1) {
    top: 0px;
  }
  
  #nav-burger span:nth-child(2) {
    top: 18px;
  }
  
  #nav-burger span:nth-child(3) {
    top: 36px;
  }
  
  #nav-burger.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-burger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-burger.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .nav-burger_Container {
    background-color:rgba(64,64,64, 0.8);
    color: #fff;
    position: fixed;
    left: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9998;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
  }
  .nav-burger_Container .container-text{
    font-family: Amatic, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  @media(max-width: 959px){
    #nav-burger{
        display: block;
    }
}
