<!-- <div class="hamburgerContainer">
    <button (click)="toggleMenu()" class="hamburger">
        <span>toggle menu</span>
    </button>
</div> -->
<div id="nav-burger" (click)="toggleBurgerNav()"
    [ngClass]="burgerState ? 'open' : 'close'" >
    <span></span>
    <span></span>
    <span></span>
</div>
<div [@slideInOut]="menuState" class="nav-burger_Container">
    <div class="container-element" (click)="toggleBurgerNav()" [routerLink]="['/Home']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
        <p class="container-text ">Home</p>
    </div>
    <div class="container-element " (click)="toggleBurgerNav()" [routerLink]="['/About']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
        <p class="container-text">About</p>
    </div>
    <div class="container-element" (click)="toggleBurgerNav()" [routerLink]="['/Skills']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
            <p class="container-text">Skills</p>
    </div>
    <div class="container-element" (click)="toggleBurgerNav()" [routerLink]="['/Projects']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
        <p class="container-text">Work & Play</p>
    </div>
    <div class="container-element" (click)="toggleBurgerNav()" [routerLink]="['/Contact']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
        <p class="container-text ">Contact</p>
    </div>
</div>
<!-- <app-menu [@slideInOut]="menuState" ></app-menu> -->

<div class="sideNavContainer">
    <div class="navbar-user">
        <div class="container">
            <div class="container-element" [routerLink]="['/Home']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
                <div class="css-icon-animation">
                    <i class="fab fa-phoenix-squadron fa-lg"></i>
                </div>

                <div class="css-text-animation">
                    <p class="container-text ">Home</p>
                </div>

            </div>
            <div class="container-element " [routerLink]="['/About']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
                <div class="css-icon-animation">
                    <i class="far fa-address-card fa-lg"></i>
                </div>

                <div class="css-text-animation">
                    <p class="container-text">About</p>
                </div>

            </div>
            <div class="container-element" [routerLink]="['/Skills']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
                <div class="css-icon-animation">
                    <i class="fas fa-hat-wizard fa-lg"></i>
                </div>

                <div class="css-text-animation">
                    <p class="container-text">Skills</p>
                </div>

            </div>
            <div class="container-element" [routerLink]="['/Projects']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
                <div class="css-icon-animation">
                    <i class="fas fa-atlas fa-lg fa-lg"></i>
                </div>

                <div class="css-text-animation">
                    <p class="container-text">Work & Play</p>
                </div>

            </div>
            <div class="container-element" [routerLink]="['/Contact']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
                <div class="css-icon-animation">
                    <i class=" fas fa-mail-bulk fa-lg"></i>
                </div>
                <div class="css-text-animation">
                    <p class="container-text ">Contact</p>
                </div>

            </div>
        </div>
        <div class="cv ">
            <a class="btn-cv " routerLink="/">CV</a>
        </div>
    </div>
</div>

