.sideNavContainer {
    background-color: transparent;
    color: white;
    font-family: AmaticBold, Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    width: 13%;
    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo-img {
    outline: none;
}


/************************* NAVBAR *******************/

.navbar-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
    border-right: 1px ridge white;
}

.container-element {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    outline: none;
}

.container-element:hover {
    cursor: pointer;
}

.container-element .css-text-animation:hover{
    cursor: pointer;
}

.container-element:active {
    background-size: 150px 4px;
    background-repeat: repeat-x;
    background-position: center 19px;
}

.activeLink>.css-icon-animation>i {
    color: grey;
}

.activeLink>div>.container-text {
    background-size: 150px 4px;
    background-repeat: repeat-x;
    background-position: center 19px;
}

.container-element .css-text-animation {
    overflow: hidden;
    display: block;
    position: relative;
    height: 25px;
}
.container-element .css-text-animation p {
    font-size: 1.2rem;
    font-style: bold;
}

.css-icon-animation {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 20px;
    width: 20%;
    padding: 5px;
}

.css-icon-animation i {
    margin-bottom: 15px;
}

.css-icon-animation .hidden-icon {
    color: grey;
}

.container-element:hover .css-text-animation .container-text {
    transition-duration: 0.5s;
    transform: translate(0px, -23.5px);
}

.container-element:hover .css-icon-animation i {
    transition-duration: 0.5s;
    transform: translate(0px, -30px);
}

.container-element:hover .css-text-animation .container-hidden-text {
    transition-duration: 0.5s;
    transform: translate(0px, -23.5px);
}

.container-text {
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.container-hidden-text {
    text-align: center;
    color: gray;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.btn-cv {
    position: absolute;
    bottom: 70px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cv:hover {
    color: gray;
    border: 1px solid gray;
    background-color: white;
}