<div class="page">
    <section class="work-and-play-content">
        <div class="card">
            <div class="card-content">
                <div class="card-image">
                    <img src="../../assets/work&play-card/tendances-design-site-web-responsive-design.png" alt="">
                </div>
                <div class="card-header">
                    <h3 class="header-text">Bio' Connect</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">Just a little description...</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more"></i>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="card-image">

                </div>
                <div class="card-header">
                    <h3 class="header-text">Titre</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">Just a little description...</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more"></i>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="card-image">

                </div>
                <div class="card-header">
                    <h3 class="header-text">Titre</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">Just a little description...</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more"></i>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="card-image">

                </div>
                <div class="card-header">
                    <h3 class="header-text">Titre</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">Just a little description...</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more"></i>
                </div>
            </div>
        </div>
    </section>

</div>