<div class="page">
    <section class="work-and-play-content" [@informationButtonAnimation]="animation ? 'out' : 'in'">
        <div class="card" *ngFor="let exemple of workAndPlayArray" [routerLink]="['/WorkAndPlay', exemple.name]">
            <div class="card-content" id="{{exemple.id}}">
                <div class="card-image">
                    <img src="{{exemple.images[0].src}}" alt="{{exemple.images[0].alt}}">
                </div>
                <div class="card-header">
                    <h3 class="header-text">{{exemple.name}}</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">{{exemple.descriptionMini}}</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more" id="btn-read-more-{{exemple.id}}"></i>
                </div>
            </div>
        </div>
    </section>
</div>