<div class="page">
    <div class="content">
        <div></div>
        <div class="card">
            <h1>Contact me</h1>

            <section class="card_descriptif_form">
                <div id="descriptif">
                    <p>if you prefer to contact me directly, send me a Email to : <a href="mailto:mathieu.veys.pro@gmail.com" title="mathieu.veys.pro@gmail.com">mathieu.veys.pro@gmail.com</a></p>
                </div>
                <div id="card_form">
                    
                </div>
            </section>
            
        </div>
        
    </div>

</div>