<div class="page" [ngStyle]="{'background-color': this.backgroundColor }">
    <div class="content" >
        <section [ngClass]="activeTitleId == 'title-1' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-1" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>Hello, I'm Mathieu</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
            <a class="btn btn-1" id="btn-title_1" [routerLink]="['/About']">
                <svg>
                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
               READ MORE
            </a>
        </section>
        <section [ngClass]="activeTitleId == 'title-2' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-2" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>I love digital</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
            <a class="btn btn-1" id="btn-title_2" [routerLink]="['/About/Projects']">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                READ MORE
            </a>
        </section>
        <section [ngClass]="activeTitleId == 'title-3' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-3" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>Former history teacher</h1>
            <p>I love history, and literature,</p>
            <p>I am an adict to learn and pass on.</p>
            <a class="btn btn-1" id="btn-title_3" [routerLink]="['/About/Core']">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                READ MORE
            </a>
        </section>
        <section [ngClass]="activeTitleId == 'title-4' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-4" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>Full Stack</h1>
            <p>I am entering the world of development by a full stack formation,</p>
            <p>and I like working both front and back.</p>
            <a class="btn btn-1" id="btn-title_4" [routerLink]="['/Skills']">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                READ MORE
            </a>
        </section>
        <section [ngClass]="activeTitleId == 'title-5' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-5" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>I'm creative</h1>
            <p>I have always been interested in design, </p>
            <p>and I am thrill to be able to work with.</p>
            <a class="btn btn-1" id="btn-title_5" [routerLink]="['/About/Work']">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                READ MORE
            </a>
        </section>
        <section [ngClass]="activeTitleId == 'title-6' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-6" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <h1>I love to play</h1>
            <p>Since my youngoust age, I develop a passion for video games,</p>
            <p>I'm a kind of gamer.</p>
            <a class="btn btn-1" id="btn-title_6" [routerLink]="['/About/Love']">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                READ MORE
            </a>
        </section>



        <section class="circle" [@leftRightAnimations]="animation ? 'in' : 'out'">
            <div class="circle-point" id="circle1">
                <i [ngClass]="activePointId.indexOf('circle-point-1') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-1" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle2">
                <i [ngClass]="activePointId.indexOf('circle-point-2') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-2" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle3">
                <i [ngClass]="activePointId.indexOf('circle-point-3') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-3" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle4">
                <i [ngClass]="activePointId.indexOf('circle-point-4') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-4" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle5">
                <i [ngClass]="activePointId.indexOf('circle-point-5') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-5" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle6">
                <i [ngClass]="activePointId.indexOf('circle-point-6') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-6" (click)="addActiveOnClick($event)"></i>
            </div>
        </section>
    </div>

</div>