<div class="page">
  <section class="project_content">
    <div class="card" *ngFor="let project of _projects">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="grid ">
          <figure class="effect-ming">
            <img src="{{project.images[0].src}}"
              alt="img08" />
            <figcaption>
              <h2>{{project.name}}</h2>
              <p>{{project.descriptionMini}}</p>
              <a [routerLink]="['/Projects', project.name]" id="{{project.id}}">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
