<div class="page">
  <section class="project_content">
    <div class="card" *ngFor="let project of _projects">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="grid ">
          <figure class="effect-ming">
            <img src="{{project.images[0].src}}"
              alt="img08" />
            <figcaption>
              <h2>{{project.name}}</h2>
              <p>{{project.descriptionMini}}</p>
              <a [routerLink]="['/Projects', project.name]" id="{{project.id}}">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">JULIA<i
            class="material-icons right">more_vert</i></span>
        <p><a class='activator' href="#">Read More about Julia →</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div> -->
    </div>
    <!-- <div class="card" *ngFor="let project of _projects" [routerLink]="['/Projects', project.name]" id="{{project.id}}">
            <div class="card-content">
                <div class="card-image">
                    <img src="{{project.images[0].src}}" alt="{{project.images[0].alt}}">
                </div>
                <div class="card-header">
                    <h3 class="header-text">{{project.name}}</h3>
                </div>
                <div class="card-description">
                    <p class="description-text">{{project.descriptionMini}}</p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-info-circle fa-xl btn-read-more" id="btn-read-more-{{project.id}}"></i>
                </div>
            </div>
        </div> -->
  </section>
</div>
