footer{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    color: white;
    padding: 1%;
    font-size: 1.2rem;
}

footer .btn-information:hover{
    color: grey;
    transform: scale(1.2);
}