<div [ngClass]="footerVisibility ? this.footerClassActive : this.footerClassInactive">
    <a href=""><i class="fab fa-github fa-xl"></i></a>
    <a href=""><i class="fab fa-codepen fa-xl"></i></a>
    <a href=""><i class="fab fa-facebook fa-xl"></i></a>
    <a href=""><i class="fab fa-linkedin-in fa-xl"></i></a>
    <a href=""><i class="fas fa-at fa-xl"></i></a>
</div>
<div>
<i [ngClass]="footerVisibility ? this.btnFooterClassArrowDown : this.btnFooterClassInfo" (click)="footerBtnInfoClick()"></i>
</div>


