.footer{
    height: 60px;
    padding: 5px 55px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.footer-container-inactive{
    background-color: transparent;
    transform: translateY(80px);
    transition: 0.5s;
}

.footer-container-active{
    background-color:rgba(64,64,64, 0.8);
    transform: translateY(0px);
    transition: 0.5s;
    
}
.btn-information{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    right: 0px;
    bottom : 0px;
    transition: 0.7s;
}
.btn-information:hover{
    color: grey;
    transform: scale(1.2);
}