<div class="menuContainer">
    <div class="container-element" [routerLink]="['/Home']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
        <p class="container-text ">Home</p>
    </div>
    <div class="container-element " [routerLink]="['/About']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
        <p class="container-text">About</p>
    </div>
    <div class="container-element" [routerLink]="['/Skills']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
            <p class="container-text">Skills</p>
    </div>
    <div class="container-element" [routerLink]="['/Projects']" routerLinkActive="active" [routerLinkActive]="[ 'activeLink', 'nonActiveLink']">
        <p class="container-text">Work & Play</p>
    </div>
    <div class="container-element" [routerLink]="['/Contact']" routerLinkActive="active" [routerLinkActive]="['activeLink', 'nonActiveLink']">
        <p class="container-text ">Contact</p>
    </div>
</div>