<div class="page">
    <div class="content">
        <div id="core_container">
            <div class="holder">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="core_text__container">
                <div class="core_text__card">
                    <div class="core_text__card card__top">
                        <a [routerLink]="['/About']"><app-cancel-button></app-cancel-button></a>
                        <h1>Core info</h1>
                    </div>
                    <div class="core_text__card card__body">
                        <p>I have been passionate about digital for a long time, quite young actually. But also by ancient history, the anthropology of Roman civilizations and also Greek and Egyptian before it.</p>
                        <p>Continuing the path of digital, and its creation through code, I am more and more excited by the possibilities offered by design and development.</p>
                        <!--
                        <p>Je suis passionné par le digital depuis longtemps, assez jeune a vrai dire. Mais également par l'histoire antique, l'antropologie des civilisation romaine et également grecques et égyptienne avant elle.</p>
                        <p>Poursuivant le chemin du digital, et sa création à travers le code, je suis de plus en plus excité par les possibilité offerte par le design and the developpement.</p>
                        -->
                        
                    </div>

                    <div class="core_text__card card__bottom">
                        <app-github></app-github>
                        <app-linkedin></app-linkedin>
                        <app-code-pen></app-code-pen>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
