.page {
    margin: 0;
    padding: 0;
    font-family: Amatic, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.project-details-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0% 16% 0% 16%;
    background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-flow: column nowrap;
}

.masonry-container {
	width: 70vw;
	position: relative;
	margin: 0 auto;
}

.panel {
	position: relative;
	display: inline-block;
	width: calc((70vw - 60px)/3);
	height: calc((50vw - 60px)/3);
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-out;
}

.panel:hover {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
	transition: all 0.2s ease-out;
}

.panel:nth-child(1) {
	margin-left: 0;
	float: left;
	width: calc((70vw - 60px)/3);
	height: calc(((50vw - 20px)/3)*2 - 8px);
}

.panel:nth-child(2) {
	margin-left: 27px;
	width: calc(((70vw - 20px)/3)*2);
}

.panel:nth-child(3) {
	margin-left: 27px;
}

.panel:nth-child(4) {
	margin-left: 27px;
}

.panel-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
}

.panel-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.panel-overlay:hover {
	opacity: 1;
	transition: all 0.3s ease-out;
}

.panel-text {
	position: absolute;
	width: 80%;
	height: 60px;
	margin: 0 auto;
	left: 25px;
	bottom: 0;
	z-index: 10;
}

.panel-title {
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 0;
	color: #fff;
}

.panel-tags {
	padding-top: 2px;
}

.tag-icon-img {
	display: inline-block;
	width: 10px;
	height: auto;
	transform: translateY(2px);
}

.tags-list {
	font-size: 0.55em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
}

.panel-gradient {
	position: absolute;
	width: 100%;
	height: 65%;
	bottom: 0;
	opacity: 0.65;
	z-index: 5;
}

.panel-vingette {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0.5;
}

.panel-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	min-width: 100%;
	height: 100%;
}

//panels 
#panel_slider__container{
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 200px;
}

mat-tab-group {
	text-align: center;
	width: 90%;
}
mat-tab-group p {
	padding-top: 20px;
}
.mat-tab-labels {
    display: flex;
    justify-content: center;
}

@media (max-width: 991px ){
	.project-details-content{
		.masonry-container{
			width: 90vw;
		}
	}
	.panel {
		width: calc((90vw - 60px)/3);
		height: calc((60vw - 60px)/3);
	}
	
	.panel:nth-child(1) {
		margin-left: 0;
		width: calc((90vw - 60px)/3);
		height: calc(((60vw - 20px)/3)*2 - 8px);
	}
	
	.panel:nth-child(2) {
		margin-left: 27px;
		width: calc(((90vw - 20px)/3)*2);
	}
	
	.panel:nth-child(3) {
		margin-left: 27px;
	}
	
	.panel:nth-child(4) {
		margin-left: 27px;
	}

}
@media (max-width: 480px ){
	.page{
		height: auto;
		.project-details-content{
			margin: 0;
			margin-top: 90px;
			.masonry-container{
				width: 90vw;
			}
		}
		.panel {
			height: 200px;
			width: 100%;
		}
		
		.panel:nth-child(1) {
			margin: 0;
			height: 450px;
			width: 100%;
		}
		
		.panel:nth-child(2) {
			margin: 0;
			margin-top: 15px;
			height: 200px;
			width: 100%;
		}
		
		.panel:nth-child(3) {
			margin: 0;
			margin-top: 15px;
		}
		
		.panel:nth-child(4) {
			margin: 0;
			margin-top: 15px;
		}
	}
}