<section class="page">
    <div class="page_content hide-UI zoom-large">
        <div id="navbar">
          <h1>SKILLS</h1>
        </div>
        <div id="data" >
          <!-- <a *ngFor="let planet of planets" [ngClass]="planet.planet == 'earth' ? 'active ' + planet.planet  : planet.planet " appPlanetOver [routerLink]="['/Planet', planet.id]" title="{{planet.name}}">{{planet.name}}</a> -->
          <a class="sun" [routerLink]="['/Planet', 'htmlcss']" title="html_css">HTML / CSS</a>
          <a class="mercury" [routerLink]="['/Planet', 'javascript']" title="javascript">JAVASCRIPT</a>
          <a class="venus" [routerLink]="['/Planet', 'php']" title="php">PHP</a>
          <a class="earth active" [routerLink]="['/Planet', 'csharp']" title="csharp">C#</a>
          <a class="mars" [routerLink]="['/Panet', 'angular']" title="angular" >Angular</a>
          <a class="jupiter" [routerLink]="['/Panet', 'nodejs']"  title="jupiter" >Node.js</a>
          <a class="saturn" [routerLink]="['/Panet','cloud']" title="saturn" >Cloud / Azure</a>
          <a class="uranus" [routerLink]="['/Panet', 'agile']" title="uranus" >Agile</a>
          <a class="neptune" [routerLink]="['/Panet', 'neptune']" title="neptune">Neptune</a>
        </div>
        <div id="universe" class="scale-stretched">
          <div id="galaxy">
            <div #solarSystem id="solar-system" class="earth">
              <div id="javascript" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Mercury</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="php" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Venus</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="csharp" class="orbit">
                <div class="pos">
                  <div class="orbit">
                    <div class="pos">
                      <div class="moon"></div>
                    </div>
                  </div>
                  <div class="planet">
                    <dl class="infos">
                      <dt>C#</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="angular" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Angular</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="nodejs" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Node.js</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="cloud" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <div class="ring"></div>
                    <dl class="infos">
                      <dt>Cloud</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="agility" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Agile</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="neptune" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Neptune</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="html_css">
                <dl class="infos">
                  <dt>HTML / CSS</dt>
                  <dd><span></span></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
