.page {
    margin: 0;
    padding: 0;
    font-family: Amatic, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #393939;
    height: 100vh;
    width: 100%;
}

.content {
    height: 100vh;
    width: 100%;
}
  
  .carousel-wrapper {
    background-color: #c0e699;
    margin: 2rem auto 1rem;
    width: 30vw;
    border-radius: 20px;
  }
  
  .carousel {
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: margin-left 600ms ease-in-out;
    -moz-transition: margin-left 600ms ease-in-out;
    transition: margin-left 600ms ease-in-out;
    width: 100%;
    margin-left: calc( 2 * (30vw / 2 - (30vw * 0.25 + 2 * 8px)) + 30vw / -2 + (30vw * 0.25 + 2 * 8px) / -1 );
  }

  .carousel.noanimate {
    -webkit-transition: margin-left 0ms ease-in-out;
    -moz-transition: margin-left 0ms ease-in-out;
    transition: margin-left 0ms ease-in-out;
  }
  
  .slide {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    background: transparent;
    margin: 1rem 0.5rem;
    padding: 3.75rem 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    //color: #111;
    //cadrer l'image
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 50px;
        width: 50px;
    }
  }
  
  .carousel-nav {
    margin: 0 auto 1rem;
    width: 50vw;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
  }
  
  p {
    margin: 1.125rem auto;
    width: 50vw;
  }