<div class="page" [ngStyle]="{'background-color': this.backgroundColor }" >
    <div class="content">
            <button (click)="toggle()">Toggle Open/Closed</button>
            <div [@.disabled]="isDisabled">
                    <div [@childAnimations]="isOpen ? 'open' : 'closed'"
                      class="open-close-container">
                      <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
                    </div>
                  </div>
        <section [ngClass]="activeTitleId == 'title-1' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-1" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>Hello, I'm Mathieu</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        <section [ngClass]="activeTitleId == 'title-2' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-2" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>I love digital</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        <section [ngClass]="activeTitleId == 'title-3' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-3" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>active title 3</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        <section [ngClass]="activeTitleId == 'title-4' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-4" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>active title 4</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        <section [ngClass]="activeTitleId == 'title-5' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-5" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>active title 5</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        <section [ngClass]="activeTitleId == 'title-6' ? this.activeTitleClass : this.nonActiveTitleClass" id="titre-6" [@childAnimations]="animation ? 'in' : 'out'">
            <h1>active title 6</h1>
            <p>I'm a junior web developer,</p>
            <p>currently looking for my first experience as developer.</p>
        </section>
        
        

        <section class="circle">
            <div class="circle-point" id="circle1">
                <i [ngClass]="activePointId.indexOf('circle-point-1') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-1" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle2">
                <i [ngClass]="activePointId.indexOf('circle-point-2') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-2" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle3">
                <i [ngClass]="activePointId.indexOf('circle-point-3') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-3" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle4">
                <i [ngClass]="activePointId.indexOf('circle-point-4') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-4" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle5">
                <i [ngClass]="activePointId.indexOf('circle-point-5') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-5" (click)="addActiveOnClick($event)"></i>
            </div>
            <div class="circle-point" id="circle6">
                <i [ngClass]="activePointId.indexOf('circle-point-6') !=-1 ? this.activePointClass: this.nonActivePointClass" id="circle-point-6" (click)="addActiveOnClick($event)"></i>
            </div>
        </section>
    </div>

</div>